<!doctype html>
<html>

<head lang='en'>
	<title>Iframed Embedding</title>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<style>
		html,
		body {
			height: 100%
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		window.onload = function() {
			let token = <%- token %>;
			console.log(token);
			document.getElementById('zdiframe2').src = '<%=ComposerURL%>/visualization/5f2b0b4e882c715d6cafc4f7+5f737101882c71059f24ef32?access_token=' + token.tokenValue + '&inheritSourceId=5fd9854380d2344b75677686&filters=[{%22operation%22:%22IN%22,%22value%22:[%22nuclear%22],%22path%22:{%22name%22:%22source%22}},{%22operation%22:%22BETWEEN%22,%22value%22:[3,5],%22path%22:{%22name%22:%22employee_id%22}}]';
		};

		window.addEventListener('message', function (event) {
			if (JSON.stringify(event.data).indexOf('action_invoked') > -1) {
				console.log(event.data);
				$('#DownloadCSVAlert').addClass('show');
				$('.alert-heading').text(event.data);
			}
		});
	</script>
</head>

<body style="margin: 0">
	<div id="DownloadCSVAlert" class="alert alert-success alert-dismissible fade fixed-top rounded-0 px-4" role="alert">
		<h4 class="alert-heading">Well done!</h4>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="container-fluid">
		<h1>Iframe Embed with Actions capture</h1>
		<p><em>This page works with CustomJS, uploaded to Composer, which posts a message when an Action is invoked on chart. Above listener captures message and displays in example popup. </em></p>
		<div class="card" style="height: 100vh;">
			<div class="card-body">
				<iframe id="zdiframe2" frameborder="0"
					style="overflow: hidden; height: 100%; width: 100%; min-height: 400px"></iframe>
			</div>
		</div>
	</div>
</body>

</html>